@value common: "../lib/common.css";
@value colors: "../lib/colors.css";
@value primary, border from colors;

.header {
  border-bottom: 1px solid border;
  box-sizing: border-box;
  composes: ends from common;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-image: linear-gradient(to bottom, #49515f, #373e48 1%, #1f2228 30%, #1f2228 60%, #23272e 99%, #31363f);
}

.header h1 {
  margin: 0;
}
