@value colors: "../lib/colors.css";
@value well from colors;

.messagebox {
  margin: 1em;
  padding: 0.5em;
  background-color: well;
  flex-grow: 1;
  font-family: menlo, monaco, consolas, monospace;
  overflow: scroll;
}
