- for control in controls
  div(class="button control")
    label() #{control.code}:
    input(type="range" value="1800" min="0" max="4095" data-show-value="true" data-popup-enabled="true" data-hightlight="true")
    input(type="text" readonly)
