extends layout

block content
  h1 SEMTerface
  p Welcome to SEMTerface
  input#w(type='button', value='W')
  input#a(type='button', value='A')
  input#s(type='button', value='S')
  input#d(type='button', value='D')

  h2 Client settings
  input#server(type='button', value='I am the server')
  input#server(type='button', value='I am a client')
