extends layout

block content
  div(class="sem")
    header
      h1= title
      div(class="login") Signin button
    div(class="scope")
      div(class="display")
        div(class="video") bloop
        div(class="status") bleep
      div(class="controls")
        include includes/controls
    footer
