extends layout

block append content
  a(href="#" id="signin" class="persona-button dark")
    span(id="persona-text") Sign in
  div#remotesVideos(class='center')
  form
    label(for="mag") Magnification:
    input(type="range" name="Magnification" id="mag" value="220" min="80" max="800" data-show-value="true" data-popup-enabled="true" data-hightlight="true")
    input(type="text" readonly id="magval")
    label(for="focus") Focus:
    input(type="range" name="Focus" id="focus" value="1800" min="0" max="4095" data-show-value="true" data-popup-enabled="true" data-hightlight="true")
    input(type="text" readonly id="focusval")

  video#localVideo(class='center')

  div(class='center')
    button#w(type='button') W
  div#buttons(class='center')
    button#a(type='button') A
    button#s(type='button') S
    button#d(type='button') D
