extends layout

block append content
  h1 SEMTerface
  p Welcome to SEMTerface
  div#remotesVideos
  video#localVideo(height='100')
  
  div
    button#w(type='button') W
    button#a(type='button') A
    button#s(type='button') S
    button#d(type='button') D