extends layout

block content
  h1 SEMTerface
  p Welcome to SEMTerface
  div#remotesVideos
  video#localVideo(height='100')
  
  div
    button#w(type='button') W
    button#a(type='button') A
    button#s(type='button') S
    button#d(type='button') D

  footer
    script(src='/socket.io/socket.io.js')
    script(src='http://simplewebrtc.com/latest.js')
    script(src='/javascripts/message.js')