extends layout

block content
  header(class="button")
    h1
      a(href='#' class='logo') #{title}
    div#auth
      if currentUser
        span(id="currentUser") #{currentUser}
        a(id="signout" href="#" class="") 
          span Sign out
      else
        a(id="signin" href="#" class="persona-button") 
          span Sign in
  div(class="scope")
    div(class="display")
      div(class="video")
        video(id="localVideo")
      div(class="info")
        div(id="messages") message box
    div(id="controls" class="controls")
      include includes/controls
  footer
    div(id="vitals")
      span
        div Status:
    div(id="info")
      a(href="https://github.com/SEMterface")
        img(src="/img/GitHub-Mark-32px.png")
