doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='https://raw.github.com/LeaVerou/prefixfree/gh-pages/plugins/prefixfree.dynamic-dom.min.js')
    link(rel='stylesheet', href='/css/persona-buttons.css')
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
  body
    block content
    script(src='/js/ioClient.js')
    script(src='/js/test.js')
    script(src='//login.persona.org/include.js')
    script(src='//simplewebrtc.com/latest.js')
