doctype html
html
  head
    title= semterface
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/persona-buttons.css')
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
  body
    div(class='navbar navbar-inverse navbar-fixed-top')
      div(class='container')
        div(class='navbar-header')
          a(class='navbar-brand', href='#') SEMterface
    div(class='container')
      block content
    footer
      script(src='//login.persona.org/include.js')
      script(src='http://simplewebrtc.com/latest.js')
      script(src='/socket.io/socket.io.js')
      script(src='/javascripts/message.js')
      script(src='/javascripts/login.js')
