doctype 5
html
  head
    title= semterface
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/message.js')
  body
    block content