doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
  body
    block content
    script(src='/js/ioClient.js')
