doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      include includes/menu  
    div(class='container')
      block content
    footer
      include includes/scripts