@value common: "../lib/common.css";
@value colors: "../lib/colors.css";
@value border from colors;

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-top: 1px solid border;
  composes: ends from common;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-image: linear-gradient(to bottom, #49515f, #2a2f37 1%, #1f2228 30%, #1f2228 60%, #23272e 99%, #31363f);
}
