@value colors: "../lib/colors.css";
@value common: "../lib/common.css";
@value background, links, textPlain from colors;

.semterface {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: textPlain;
  background-color: background;
  box-sizing: border-box;
  overflow: hidden;
  composes: stdBorder from common;
}

.semterface a {
  color: links;
  text-decoration: none;
}

.semterface a:hover, .semterface a:focus {
  text-decoration: underline;
}
